/* CSS style for DateInput Component */

.dateContainer {
    font-family: Arial, sans-serif;
    font-size: 30px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

input[type="date"] {
    font-family: Arial, sans-serif;
    font-size: 20px;
}